:root {
    /* Основные цвета */
    --primary: #2563eb; /* Синий - основные кнопки */
    --primary-hover: rgba(37, 99, 235, 0.7);
    --primary-dark: #1d4ed8;
    --secondary: rgb(100, 116, 139); /* Серый - второстепенные элементы */
    --hover: #ecedf4;
    --line-decor: #ebe9ef; /* Серый - для декора */
    --success: #10b981; /* Зеленый - успешные действия */
    --warning: #f59e0b; /* Желтый - предупреждения */
    --error: #ef4444; /* Красный - ошибки */

    --base-color: #263238; /*spinner*/

    /* Фоны */
    --bg-primary: #f6f7f8;
    --bg-secondary: #fff;
    --bg-sidebar: #1e293b;
    /* Текст */
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --text-light: #ffffff;
    --text-placeholder: #9ca3af;
    /*Типографика*/
    /* Шрифты */
    font-family: 'Inter', -apple-system, sans-serif;

    /* Размеры */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background: var(--bg-primary);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:active {
    outline: 2px auto #646cff;
}

a, a:active, a:focus {
    text-decoration: none;
    color: inherit;
}

input {
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}

ul {
    list-style: none;
}
